body {
  min-width: 500px;
  background-color: var(--bs-body-bg);
}

.root {
  padding: 1rem;
}

*[data-bs-theme='light'] .color-selector-button-light,
*[data-bs-theme='dark'] .color-selector-button-light:hover {
  color: black;
}

@media (prefers-color-scheme: light) {
  body:not([data-bs-theme='dark']) .color-selector-button-light,
  body:not([data-bs-theme='dark']) .color-selector-button-light:hover {
    color: black;
  }
}
